@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8de66;
}

h2{
    font-size: xx-large;
    margin: 20px;
    font-weight: bolder;
}
label{
    font-size: 20px;
    font-weight: bold;
}
.btn{
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    margin: 20px;
}
input{
    padding: 5px 10px;
    border: 2px solid black;
}
p{
    font-size: 20px;
}


